<%- include('../partials/header') %>

<br><br><h2>Tickets</h2>
<form id="add-ticket-form" method="POST"
  action="/flights/<%= flight._id %>/tickets">
  <label>Seat:</label>
  <select name="seat" id="seat-dropdown">
    <option value="A-19">A-19</option>
  </select>
  <label>Price:</label>
  <input type="text" name="price" id="price-entry">
  <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>


<!-- <%- include('../partials/header') %>

<p>Please first ensure that the seat is not in the dropdown
  <select>
    <% tickets.forEach(function(f) { %>
      <option><%= f.seat %></option>
    <% }) %>
  </select>
</p>
<form id="add-ticket-form" action="/tickets" method="POST">
  <label>Seat:</label>
  <input type="text" name="seat">
  <label>Price:</label>
  <input type="number" name="price">
  <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %> -->
