<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departure: </div>
  <div><%= flight.departs %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
</section>

<!-- new markup below -->
<br><br><h2>Destination</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Arrival Date:</label>
  <input type="date" name="destinationDate">
  
  <label>Airport:</label>
  <select name="airport" type="text">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <input type="submit" value="Add Destination">
</form>

<% if (flights.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Airport</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.destinationDate %></td>
          <td><%= d.airport %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
