<%- include('../partials/header') %>
<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departure: </div>
  <div><%= flight.departs %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
</section>
<div>Tickets:</div><br><a href="/flights/<%=flight._id%>/tickets/new">Add Ticket</a>
<ul>
  <% tickets.forEach(function (t) { %>
    <li><%=t.seat%> <small><%=t.price%></small></li>
   <% }); %>
</ul>
<br><br><h2>Destination</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Arrival Date:</label>
  <input type="datetime-local" name="arrival">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
</select>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Arrival Date</th>
        <th>Airport</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(f) { %>
        <tr>
          <td><%= f.arrival %></td>
          <td><%= f.airport %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Yet</h5>
<% } %>
<%- include('../partials/footer') %>